/*
    RULES :
    1- use (rem) as unity 
    2- write comments

    COLORS:
    1-body background : #FBF7EE
    2-button & big-title (general color ) : #0B46A3
    
    Dimensions:
    1-width cards : 20%
    2-No margin for card just use [ display flex & space between ]

*/


@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

:root{
    --WidthCard : 20%;
    --BodyBackground : #FBF7EE;
    --GeneralColor : #0B46A3;
    --pColor : #A4A4A4;
    --backgroundCard : #FFF3D9 ;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

body{
    background-color: var(--BodyBackground);
}

body .container{
    margin-top: 1rem;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
header div.logo{
    width: 15%;
}

header .head{
    display: flex;
    justify-content: center;
    align-items: center;
    
    list-style: none;
    font-weight: bold;
}
/* header .head li{
    padding: 4px 10px;
} */

header ul.head li a{
    text-decoration: none;
    color: black;
    transition: 0.5s;
    border-radius: 0.3rem;
    padding: .5rem 1rem;
}
header ul.head li a:hover{
    color: white;
    background-color: #375584;
}
header .head li{
    font-size: 90%;
    margin-right: 2px;
   
}

header a.signin{
    margin-left: -1vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 20%;
    color: black;
    text-decoration: none;
    transition: 0.5s;
}
header a.signin:hover{
    background-color: #3e8e41;
    color: white;
    padding: 0.8vw;
    border-radius: 4px;
    border: none;
    box-shadow: 0 3px #041c40;
    transition: 0.4s;
}
header a.signin:active{
    box-shadow: 0 1px #041c40;
    transform: translateY(3px);
}
input.bouton{
    background-color: #0b47a6;
    color: white;
    padding: 1vw 2vw;
    border-radius: 4px;
    border: none;
    box-shadow: 0 3px #041c40;
    transition: 0.4s;
}
input.bouton:hover{
    background-color: #3e8e41;
}
input.bouton:active{
    box-shadow: 0 1px #041c40;
    transform: translateY(3px);
}
:root{
    --WidthCard : 20%;
    --BodyBackground : #FBF7EE;
    --GeneralColor : #0B46A3;
}


 
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~end part asma ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~start part tareck ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
img[alt='Checkmark']{
    width: 13px;
    align-items: center;
}
input[type="email"]{
    padding: 8px 120px 8px 5px;
    border-radius: 3px;
    border: 1px solid var(--pColor);
}
.try{
    background-color: var(--GeneralColor);
    color: white;
    border-radius: 4px;
    border: none;
    padding: 9px 16px;
    margin: 4px;
    box-shadow: 0px 3px black;
    border-radius: 5px;
    border: none;
}

.p{
    padding: 20px 0 18px 0;
    line-height: 1.2rem;
    font-size: 14px;
    color: var(--pColor);
}
.cmt{
    font-size: 10px;
    padding: 12px 0px;
    color: var(--pColor);
    display: flex;
    align-items: center;
}
.span-TA{
    padding: 8px;
}
tr td img{
    width: 100%;
}
.tr td{
    width: 50%;
    padding: 6px;
}
.t1{
    padding-right: 60px;
}
h1{
    color: #13366D;
    font-size: 44px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~end part tareck ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~start part mehdi ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


 
.cartes-ME{
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.carte-ME{
    border: 1px solid var(--pColor);
    width: 14rem;
    line-height: 20px;
    background-color: white;
    padding: 15px 30px;
    border-radius: 5px;
    margin-bottom: 50px;
}
.carte-ME h3{
    margin: 4px 0 10px 0;
}
.carte-ME a{
    text-decoration: none;
}
.carte-ME p{
    font-size: small;
    color: var(--pColor);
}
.carte-ME img{
    width: 35px;
}
.carte-ME a{
    color: black;
    font-weight: bold;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~end part mehdi ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~start part youssef ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.secondSection{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}
.secondSection div p{
    color: var(--pColor);
    margin-top: .7rem;
    margin-bottom: 2rem;
}
h1{
    color: var(--GeneralColor);
    font-size : 3rem;
    font-weight : bold;
}
.transparentPricing{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.transparentPricingCard, .transparentPricingCardWithImage{
    background-color: var(--backgroundCard);
    border: 1px solid var(--pColor);
    border-radius: 10px;
    padding: 1rem;
    height: auto;
    width: 14rem;
}
.transparentPricingCard ul li{
    position: relative;
    list-style: none;
    width: 90%;
    left: 1.5rem;
    margin-bottom: 10px;
}
.transparentPricingCard button, .transparentPricingCardWithImage button{
    margin-top: 1rem;
}
.transparentPricingCard{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.transparentPricingCard label{
    color: #000000;
    font-weight: bold;
    font-size: 2rem;
    bottom: 0;
}
.transparentPricingCardWithImage img{
    width: 100%;
    margin: 1rem auto;
}
.transparentPricingCardWithImage{
    height: 75%;
    border: 1px solid black;
    background-color: linen;
}
.transparentPricingCardWithImage p{
    color: var(--pColor);
}
.transparentPricingCard h4{
    background-color: #13366d;
    color: white;
    border-radius: 10px;
    width: 110px;
    padding: 5px;
    text-align: center;

}
.btnBlue{
    border: 1px solid var(--GeneralColor);
    border-radius: 5px;
    color: var(--GeneralColor);
    background-color: transparent;
    padding: .5rem;
    margin-bottom: 10px;
}
.contact{
    margin-top: 3.2rem;
}
.btnBlue:hover {
    border: 1px solid white;
    background-color: var(--GeneralColor);
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.transparentPricingCard ul li::before{
    content: " 👉";
    position: absolute;
    left: -1.5rem;
}
label span{
    color: var(--pColor);
}
footer span{
    color: var(--GeneralColor);
    font-weight: bold;
}
footer{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.contact-YO{
    text-decoration: none;
    margin-top: auto;
    color: #000000;
    font-weight: bold;
    font-size: 2rem;
    bottom: 0;
}
.contact-YO:hover{
     color: rebeccapurple;
     text-decoration-line: underline;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~end part yessef ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~responsive~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */






@media screen and (max-width: 820px){
    /* ~~~~~~~~~~~~~~~ asmaa ~~~~~~~~~~~~~~~  */

    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    header div.logo{
        width: 50%;
        margin-bottom: 20px;
    }
    header ul.head{
        justify-content: space-between;
    }
    ul.head li{
        font-size: 20px;
        padding: 0px;
    }
    ul.head li a:hover , ul.head li a:active{
        background: none;
        color: black;
    }
    div.user{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    a.signin{
        width: 100%;
        margin-top: 5%;
        margin-bottom: 10%;
        align-self: center;
        margin-left: 0;
    }
    a.signin:hover{
        background-color: #3e8e41;
        color: white;
        border-radius: 4px;
        border: none;
        box-shadow: 0 3px #041c40;
        transition: 0.4s;
        width: 100%;
    }
    div.user input.trial{
        justify-content: center;
    }


    /* ~~~~~~~~~~~~~~~ Tarek ~~~~~~~~~~~~~~~  */
    h1{
        text-align: center;
        font-size : 2rem;
    }
    p{
        margin-bottom: 1rem;
        text-align: center;
    }
    img[alt='logo']{
        padding-right: 0;
    }
    .t1{
        padding: 0;
    }
   .tr td{
        display: block;
        width: 100%;
    }
    .try{
        padding: 8px 4px;
    }
    input[type="email"]{
        padding: 8px 50px 8px 5px;
        margin-right: .5rem;
    }
/* ~~~~~~~~~~~~~~~ MEhdi ~~~~~~~~~~~~~~~  */
    .cartes-ME{
        flex-direction: column;
        align-items: center;
    }
    .carte-ME{
        margin-bottom: 10px;
        width: 90%;
    }
 
/* ~~~~~~~~~~~~~~~ YOUSSEF ~~~~~~~~~~~~~~~  */
.secondSection{
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.secondSection div h1{
    text-align: center;
    font-size : 2rem;
}
.secondSection div p{
    margin-bottom: 1rem;
    text-align: center;
}
.transparentPricing{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.transparentPricingCard{
    margin-bottom: 10px;
    width: 90%;
}
.transparentPricingCardWithImage{
    width: 90%;
}
footer{
    text-align: center;
}

}