/*
    RULES :
    1- use (rem) as unity 
    2- write comments

    COLORS:
    1-body background : #FBF7EE
    2-button & big-title (general color ) : #0B46A3
    
    Dimensions:
    1-width cards : 20%
    2-No margin for card just use [ display flex & space between ]

*/


:root{
    --WidthCard : 20%;
    --BodyBackground : #FBF7EE;
    --GeneralColor : #0B46A3;

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--BodyBackground);
}

body .container{
    margin-top: 1rem;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.secondSection{
    margin-top: 2rem;
}
.secondSection article p{
    color: #b0afaf;
    margin-bottom: 2rem;
}

.card{
    margin-top: 2rem;
}
.card article{
    background-color: white;
    width: 22%;
    padding: .7rem;
    border: 1px solid #b0afaf;
    border-radius: 2%;
}
.card article p{
    margin-top: .7rem;
    color: #b0afaf;
}
strong{
    color: black;
}
.card article+article{
    margin-left:4%;
}
h1{
    color: #13366d;
    font-size : 3rem;
    font-weight : bold;
}
.card{
    display: flex;
}
.transparentPricing{
    display: flex;
}
.signeInButton{
    padding: .5rem;
    border: none;
    border-radius: 5px;
    background-color: linen;
}
.signeInButton:hover{
    padding: .45rem;
    border: 1px solid #597bbd;
    border-radius: 5px;
    background-color: forestgreen;
    opacity: 0.5;
    color: white;
}
.emailInput{
    padding: .4rem;
    border-radius: 5px;
    border: 1px solid #4b4b4b;
}
.tryForFreeButton{
    background-color: #0c459e;
    padding: .5rem;
    border: none;
    border-bottom: 3px solid black;
    border-radius: 5px;
    color: white;
}

.tryForFreeButton:hover{
    cursor: pointer;
    background-color: #597bbd;
    padding: .5rem;
    border: 1px solid linen;
    border-radius: 5px;
    color: white;
}
.transparentPricingCard, .transparentPricingCardWithImage{
    background-color: #fff3d9;
    border: 1px solid #b0afaf;
    border-radius: 10px;
    padding: 1rem;
    height: 20rem;
    width: 22%;
}
.transparentPricingCard + .transparentPricingCard, .transparentPricingCard + .transparentPricingCardWithImage{
    margin-left: 4%;
}
.transparentPricingCard ul, .transparentPricingCardWithImage ul{
    margin-top: 1rem;
    list-style: none;
}
.transparentPricingCard ul li{
    margin-bottom: 10px;
}
.transparentPricingCard button, .transparentPricingCardWithImage button{
    margin-top: 1rem;
}
.transparentPricingCard p{
    margin-top: 1rem;
}
.transparentPricingCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.transparentPricingCard label{
    color: #000000;
    font-weight: bold;
    font-size: 2rem;
    bottom: 0;
}
.transparentPricingCardWithImage img{
    width: 90%;
    height: 60%;
    margin: 1rem auto;
}
.transparentPricingCardWithImage{
    height: 75%;
    border: 1px solid black;
    background-color: linen;
}
.transparentPricingCardWithImage p{
    color: #b0afaf;
}
.transparentPricingCard h4{
    background-color: #13366d;
    color: white;
    border-radius: 20px;
    width: 110px;
    padding: 5px;
    text-align: center;

}
.btnBlue{
    border: 1px solid #0c459e;
    border-radius: 5px;
    color: #0c459e;
    background-color: #fff3d9;
    padding: .5rem;
}

.btnBlue:hover {
    border: 1px solid white;
    background-color: #0c459e;
    color: white;
    font-weight: bold;
    transition: 0.3s;
    mso-border-shadow: yes;
}
.transparentPricingCard ul li::before{
    content: " 👉";
}
label span{
    color: #8d8d8d;
}
footer span{
    color: #13366d;
    font-weight: bold;
}
footer{
    margin-top: 2rem;
    margin-bottom: 2rem;
}