/*
    RULES :
    1- use (rem) as unity 
    2- write comments

    COLORS:
    1-body background : #FBF7EE
    2-button & big-title (general color ) : #0B46A3
    
    Dimensions:
    1-width cards : 20%
    2-No margin for card just use [ display flex & space between ]

*/


@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

:root{
    --WidthCard : 20%;
    --BodyBackground : #FBF7EE;
    --GeneralColor : #0B46A3;
    --pColor : #A4A4A4;
    --backgroundCard : #FFF3D9 ;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

body{
    background-color: var(--BodyBackground);
}

body .container{
    margin-top: 1rem;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

/* ~~~~~~~~~~~~~~~ MEhdi ~~~~~~~~~~~~~~~  */
.cartes-ME{
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
}
.carte-ME{
    border: 1px solid rgb(206, 205, 205);
    width: 14rem;
    line-height: 20px;
    background-color: white;
    padding: 15px 30px;
    border-radius: 5px;
    margin-bottom: 50px;
}
.carte-ME h3{
    margin: 4px 0 10px 0;
}
.carte-ME a{
    text-decoration: none;
}
.carte-ME p{
    font-size: small;
    color: grey;
}
.carte-ME img{
    width: 35px;
}
.carte-ME a{
    color: black;
    font-weight: bold;
}
/* ~~~~~~~~~~~~~~~ MEhdi ~~~~~~~~~~~~~~~  */

.secondSection{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.secondSection article p{
    color: var(--pColor);
    margin-top: .7rem;
    margin-bottom: 2rem;
}
h1{
    color: var(--GeneralColor);
    font-size : 3rem;
    font-weight : bold;
}
.transparentPricing{
    display: flex;
    justify-content: space-between;
}

.transparentPricingCard, .transparentPricingCardWithImage{
    background-color: #fff3d9;
    border: 1px solid #b0afaf;
    border-radius: 10px;
    padding: 1rem;
    height: 20rem;
    width: 20%;
}
.transparentPricingCard + .transparentPricingCard, .transparentPricingCard + .transparentPricingCardWithImage{
    margin-left: 4%;
}
.transparentPricingCard ul li{
    position: relative;
    list-style: none;
    width: 90%;
    left: 1.5rem;
    margin-bottom: 10px;
}
.transparentPricingCard button, .transparentPricingCardWithImage button{
    margin-top: 1rem;
}
.transparentPricingCard p{
    margin-top: 1rem;
}
.transparentPricingCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.transparentPricingCard label{
    color: #000000;
    font-weight: bold;
    font-size: 2rem;
    bottom: 0;
}
.transparentPricingCardWithImage img{
    width: 90%;
    height: 60%;
    margin: 1rem auto;
}
.transparentPricingCardWithImage{
    height: 75%;
    border: 1px solid black;
    background-color: linen;
}
.transparentPricingCardWithImage p{
    color: var(--pColor);
}
.transparentPricingCard h4{
    background-color: #13366d;
    color: white;
    border-radius: 20px;
    width: 110px;
    padding: 5px;
    text-align: center;

}
.btnBlue{
    border: 1px solid var(--GeneralColor);
    border-radius: 5px;
    color: var(--GeneralColor);
    background-color: #fff3d9;
    padding: .5rem;
}
.regle{
    position: relative;
}
.contact{
    margin-top: 3.2rem;
}
.btnBlue:hover {
    border: 1px solid white;
    background-color: var(--GeneralColor);
    color: white;
    font-weight: bold;
    transition: 0.3s;
    mso-border-shadow: yes;
}
.transparentPricingCard ul li::before{
    content: " 👉";
    position: absolute;
    left: -1.5rem;
}
label span{
    color: var(--pColor);
}
footer span{
    color: var(--GeneralColor);
    font-weight: bold;
}
footer{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 700px){

/* ~~~~~~~~~~~~~~~ MEhdi ~~~~~~~~~~~~~~~  */
    .cartes-ME{
        flex-direction: column;
        align-items: center;
    }
    .carte-ME{
        margin-bottom: 10px;
        width: 90%;
    }
/* ~~~~~~~~~~~~~~~ MEhdi ~~~~~~~~~~~~~~~  */
}